/* belowBannerHead Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=IBM+Plex+Sans:wght@400;600;700&display=swap');

.belowBannerBg{
    width: 100%;
}
.belowBanner{
    width:var(--container);
    min-height: 585px;
    display: flex;
    margin: auto;
    
}
.belowBannerLeft{
    width: 45%;
    position: relative;
    min-height: 100%;
    padding: 15px;
    overflow: hidden;
}

.belowBannerHead{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: var(--primary);
    text-transform: uppercase;
    margin-top: 80px;
}
.belowBannerHeadColorText{
    color: var(--secondary1);

}
.belowBannerDescription{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #2C2738;
}

.belowBannerButton{
    padding: 20px 30px;
    border-radius: 32px;
}
.belowBannerButton:hover{
    background: linear-gradient(270deg,var(--secondary1),var(--secondary2));
    box-shadow: 1px 1px 5px rgb(222, 219, 219);

}

.belowBannerRight{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.belowBannerImg{
    width: 75%;
}

@media screen and (max-width:1200px){
    .belowBanner{
        min-height: 400px;
    }
    .belowBannerLeft{
        align-self: center;
    }
   .belowBannerHead{
    font-size: 34px;
    margin-top: 50px;
   } 
}
@media screen and (max-width:900px){
    .belowBanner{
        flex-direction: column;
    }
    .belowBannerLeft{
        width: 80%;
    }
    .belowBannerHead{
        margin-top: 50px;
    }
    .belowBannerRight{
        width: 100%;
    }
}
@media screen and (max-width:640px){
   
    .belowBannerLeft{
        width: 95%;
    }
    .belowBannerHead{
        font-size: 30px;
    }
    .belowBannerDescription{
        font-size: 16px;
    }
   
    .belowBannerImg{
        width: 95%;
    }
}
@media screen and (max-width:450px){
    .belowBannerHead{
        font-size: 26px;
    }
}
