.Navbar{
    width: 100%;
    height: 100px;
    background: white;
    transition: all .5s ease-in-out;
}
.navScrolled{
    background:linear-gradient(to right,var(--primary),var(--primary2));
    box-shadow: 1px 1px 5px rgba(57, 57, 57, 0.521);
    height: 80px;

}
.insideNav{
    width: var(--container);
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.navLeft{
    display: flex;
    align-items: center;
}
.compLogo{
    width:150px;
    padding: 10px 10px;
    transition: all .5s ease-in-out;

}
.compLogoScrolled{
    width:100px;
    padding: 0px;
    align-self: center;

}
.navRightDesktop{
    min-width: 60%;
}
.navRight{
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 14px;
    justify-content: space-between;
    align-self: center;
}
.navLinkElement{
    font-size: 18px;
    color: var(--primary);
    font-weight: 500;
    padding: 8px 15px;
    transition: all .2s ease-in-out;
}
.navLinkElement:hover,.navLinkElementActive{
    background-color: var(--primary2);
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(57, 57, 57, 0.521);
}
.navLinkElementScrolled{
    color: #FFFFFF;
    font-weight: 400;
}
.navLinkElementScrolled:hover,.navLinkElementScrolledActive{
    background-color: #FFFFFF;
    color: var(--primary2);
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.545);
    font-weight: 500;
}
.navWhatsappBtn{
    width: 120px;
    border-radius: 4px;
    color: #0D9F16;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #0D9F16;
    background: transparent;
    margin-right: 10px;

}
.navWhatsappBtnScrolled{
    background-color: #0D9F16;
    color: #FFFFFF;
    border: none;
}
.navContactUsBtn{
    width: 120px;
    border-radius: 4px;
    color: white;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: var(--primary);

}
.navContactUsBtnScrolled{
    background-color: #FFFFFF;
    color: var(--primary);
}



@media screen and (max-width:900px) {
    
    .navRight{
        flex-direction: column;
        height: 100%;
        width: 260px;
        justify-content: flex-start;
        margin: 0px;
        padding-top: 50px;
    }
    .navRightScrolled{
        background: var(--primary2);
        
    }
    .navLinkElement{
        width: 90%;
        padding: 10px 0px;
        text-align: center;
        margin-top: 15px;
    }
    .navWhatsappBtn{
        width: 100px;
        margin-top: 15px;
    }
    .navContactUsBtn{
        width: 100px;
       }
    
    .navRightDesktop{
        display: none;
    }
   

    
}
@media screen and (max-width:600px) {
    .Navbar{
        height: 80px;
    }
    .compLogo{
        width: 120px;
        padding: 5px ;
    }
    .compLogoScrolled{
        width: 100px;
    }

}