.footer{
  width: 100%;
  background-color: var(--primary);
  margin-top: 80px;
}

.topFooter{
  width: var(--container);
  margin: auto;
  display: flex;
  min-height: 400px;
}
.topFooterLeft{
  width: 50%;
  padding: 20px;
  color: white;
}
.footerHead{
 font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 15px;
}
.footerDescription{
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
}
.footerLinks{
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.footerLinkElement{
  color: #D7CDCD;
  font-size: 16px;
  margin-right: 20px;
  margin-top: 15px;

}
.footerLinkElement:hover{
  text-decoration: underline;
}
.footerMapSection{
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mapIframe{
  width: 50%;
  height: 250px;
}
.footerContactInfo{
  width: 50%;
}

.topFooterRight{
  width: 50%;
align-self: center;
}
.footerFormHead{
  color: var(--secondary1);
  font-size: 22px;
  margin: 25px 7%;

  font-weight:600;
}
.footerFormInputs{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 15px;
}
.footerFormLabel{
  color: white;
}
.footerFormBtn{
  width: 150px;
  height: 50px;
  margin :20px 0px 0px 8%;
}
.footerFormInput{
  border: none;
  background-color:var(--primary2) ;
  color: white;
  padding: 20px 20px;
  border-radius: 4px;
  font-size: 16px;
}
.footerFormInput::placeholder{
  color: var(--greyText);
  font-size: 16px;

}
.copyrightsFooter{
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 10px 0px;
  background-color: var(--primary2);
}
.copyrightsText{
  width: 90%;
  text-align: center;
  color: white;
  font-size: 16px;
}
.copyrightsText a{
  color: #1d95cd;
  font-weight: 600;
}

@media screen and (max-width:1140px){
  .footerMapSection{
    flex-direction: column;
  }
  .mapIframe{
    width: 100%;
    margin-bottom: 15px;
  }
  .footerContactInfo{
    width: 100%;
  }
}
@media screen and (max-width:900px){
  .topFooter{
    flex-direction: column;
    width: 90%;
  }
  .topFooterRight, .topFooterLeft {
    width: 100%;
    padding: 0px;
  }
  .footerFormHead{
    margin: 15px 7%;
  }
  .footerHead{
    font-size: 34px;
  }
}
@media screen and (max-width:640px){
 .copyrightsText{
  text-align: left;
  font-size: 14px;
}
 
}
@media screen and (max-width:450px){
  .footerHead{
    font-size: 28px;
  }
  .footerDescription{
    font-size: 16px;
  }
  .footerFormInputs{
    width: 90%;
  }
  .footerFormInput{
    padding: 15px 10px;
    font-size: 14px;
  }
  .footerFormInput::placeholder{
    font-size: 14px;
  
  }
  .footerFormBtn{
    margin :20px 0px 0px 4%;
  }
}
