@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F3F7;
  --container :1400px;
  --cTopMargin:80px;
  --cTopMargin2:60px;
  --primary:#083E57;
  --primary2:#0e506f;
  --secondary1:#71D83B;
  --secondary2:#60E57C;
  --grey:#F9F9F9;
  --greyText: #D7CDCD;


}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}


@media screen and (max-width:1350px){
  body{
    --container :95%;

  }  
}
@media screen and (max-width:740px){
  body{
    --cTopMargin:40px;
    --cTopMargin2:20px;

  }  
}

.off{
  display: none;
}


.gradientBtn{
  padding: 0px 20px;
  border: 0px;
  background: linear-gradient(180deg,var(--secondary1),var(--secondary2));
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 40px;
  position: relative;
}
.gradientBtn:hover{
  background: linear-gradient(270deg,var(--secondary1),var(--secondary2));
  box-shadow: 1px 1px 5px rgb(123, 123, 123);

} 
.greenText{
  color: var(--secondary1);
}