.ourcategoriesMain {
	width: var(--container);
	margin: auto;
	margin-top: var(--cTopMargin);
}
.ourcategoriesAll {
	display: flex;
	justify-content: space-around;
	width: 100%;
	min-height: 250px;
	align-items: center;
}
.ourcategoriesHead {
	font-weight: 600;
	font-size: 40px;
	color: var(--primary);
	width: 100%;
	text-align: center;

	margin: 30px 0px;
}

.ourcategoriesItem {
	width: 45%;
	min-height: 200px;
	display: flex;
	justify-content: space-between;
	color: var(--primary2);
	background-color: white;
	border-radius: 5px;
}
.ourcategoriesImage {
	width: 40%;
}

.ourcategoriesItemRight {
	width: 55%;
	padding: 10px;
}
.ourcategoriesItemHead {
	font-weight: 500;
	font-size: 28px;

	color: var(--primary2);
}
.ourcategoriesSubHead {
	font-weight: 400;
	font-size: 15px;

	color: var(--primary2);
}
.ourcategoriesText {
	font-weight: 400;
	font-size: 14px;

	color: var(--primary2);
}
.ourcategoriesItemBtn {
	border: none;
	padding: 10px 20px;
	background-color: var(--primary2);
	font-weight: 500;
	font-size: 16px;
	color: white;
	border-radius: 8px;
	margin-top: 15px;
}

@media screen and (max-width: 1200px) {
	.ourcategoriesAll {
		justify-content: space-between;
	}
	.ourcategoriesItem {
		width: 49%;
	}
	.ourcategoriesItemHead {
		font-size: 24px;
	}
}
@media screen and (max-width: 900px) {
	.ourcategoriesAll {
		flex-direction: column;
	}
	.ourcategoriesItem {
		margin-top: 20px;
		width: 90%;
		min-height: 150px;
	}
	.ourcategoriesItemHead {
		font-size: 20px;
	}
	.ourcategoriesText {
		display: none;
	}
}
